html {
  background-image: url('./img/lain.jpg');
  background-repeat: repeat;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
